*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}
body{
    background-color: #182a64;
    background:url("https://payload.cargocollective.com/1/11/367710/13568488/CINEMA-CLASSICS-POSTER_RUTGERS_1340_c.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 110% 100%;
   height: 100vh;
   opacity: 2;
   
  
}
.container{
    background:hsl(218, 14%, 89%);
    width:30rem;
    padding:5rem;
    margin:5rem auto;
    position:static;
    border-radius:5px;
    box-shadow:0 20px 35px rgba(14, 3, 3, 0.9);
}
form{
    margin:2em 2rem;
}
.form-title{
    
    font-size:2.5rem;
    font-weight:bold;
    text-align:center;
    padding:1.3rem;
    margin-bottom:0.4rem;
}
input{
    /* color:white; */
    width:100%;
    background-color:hsl(218, 14%, 89%);
    border:none;
    border-bottom:1px solid #757575;
    padding-left:1.5rem;
    font-size:1.2rem;
}
.input-group{
    padding:6% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:rgb(78, 72, 72);
}
input:focus{
    background-color:hsl(218, 14%, 89%) ;
    outline:transparent;
    border-bottom:2px solid hsl(327,90%,28%);
}
input::placeholder{
    color: transparent;
}
label{
    color:#757575;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    margin-top: 0.5rem;
    top: -3rem;
    color:hsl(327, 80%, 38%);
    font-size:1rem;
    margin-bottom: 2rem;
}

.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:rgb(125,125,235);
}
.recover a:hover{
    color:blue;
    text-decoration:underline;
}
button{
    font-size:1.1rem;
    padding:6px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background:rgb(125,125,235);
    color:white;
    cursor:pointer;
    transition:0.9s;
}
button:hover{
    background:#3b11c5;
}
/* General styling for error alerting  messages */
.error {
    color: #e74c3c;           
    font-size: 1rem;       
    margin: 0% 0.5rem;         
    display: block;
    opacity: 1;
    
}

.errorforPassWord{
   
        color: #e74c3c;               
        font-size: 0.9rem;            
        margin-top: -1em;           
        display: block;               
        opacity: 1;
        position: relative;
    

}


.links{
    
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;
    font-weight:bold;
}
 #signUpButton, #signInButton{
    color:rgb(125,125,235);
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
}
#signUpButton:hover, #signInButton:hover {
    text-decoration:underline;
    color:rgba(0, 123, 255, 0.721);
} 
.messageDiv{
    text-align: center;
    background-color: hsl(180, 18%, 96%);
    color: #a20c0c;
    margin-bottom: 6%;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    opacity: 0;
}